.UploadButton {
    display: flex;
   height: 38px;;
    padding: 9px;
    color: darkslategrey;
    border: 2px solid lightgrey;
    cursor: pointer;
}

.RequirtersGrid {
    display: grid;
    /* grid-template-columns: auto auto; */
    gap: 20px;
}

.ButtonsEnd {
    display: flex;
    justify-content: end;
    margin-right: 33px;
    column-gap: 50px;
}

.backgroundStyle {
    border: 1px solid #CCCCCC;
    width: 72%;
    padding: 10px;
    /* box-shadow: 1px 2px 5px #888888; */
    height: 106%;
    border-radius: 10px;

}
.buttonbg{

padding: 10px 24px;
gap: 10px;
color: black;
border-radius: 10px;
}
@media only screen and (max-width: 750px){
    .RequirtersGrid {
        
        grid-template-columns: auto ;
        
    }
  }