.NavBar_Main {
  height: 10vh;
  width: 98%;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1001;
}
.NavBar_Division {
  width: 20%;
}
.NavBar_Search {
  width: 60%;
}
.pog{
  font-size: 25px !important;
  color: gray !important;
  cursor: pointer;
}
