.p-accordion .p-accordion-header .p-accordion-header-link {
     padding: 1.25rem;
     border: 1px solid gainsboro !important;
     color: #6c757d;
     background: gainsboro !important;
     font-weight: 700;
     border-radius: 6px;
     transition: box-shadow 0.2s;
 }
 .p-paginator .p-dropdown {
     margin-left: 0.5rem;
     height: 2rem !important;
 }