.Status_Selected {
     background: limegreen;
     padding: 5px 2px 5px 2px;
     text-align: center;
     color: black;
     width: 140px;
     border-radius: 8px;
}

.Status_NotSelected {
     background: rgb(233 8 8);
     padding: 5px 2px 5px 2px;
     text-align: center;
     color: black;
     width: 140px;
     border-radius: 8px;
}

.Status_Progress {
     background: rgb(225, 176, 14);
     padding: 5px 2px 5px 2px;
     text-align: center;
     color: black;
     width: 140px;
     border-radius: 8px;
}

.Status_OnHoldProgress {
     background: rgb(227, 246, 10);
     padding: 5px 2px 5px 2px;
     text-align: center;
     color: black;
     width: 140px;
     border-radius: 8px;
}
