.navbar{ 
          display: flex;
          justify-content: space-between;
          padding: 4px;
}
.p-button {
    /* margin-top: 22px; */
    
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 35px;
    /* background-color: linear-gradient(#fcfdff 0,#eaeef5 100%) no-repeat padding-box !important; */
    background-color:#0279ff !important;
    border-radius: 6px !important;
    border: 1px solid #d0d4df !important;
    padding: 6px 20px 7px !important;
    color: rgb(247, 247, 247) !important;
}
.buttonStyle {
     /* margin-top: 22px; */
     
     display: inline-flex;
     cursor: pointer;
     -webkit-user-select: none;
     user-select: none;
     align-items: center;
     vertical-align: bottom;
     text-align: center;
     overflow: hidden;
     position: relative;
     height: 35px;
     background: linear-gradient(#fcfdff 0,#eaeef5 100%) no-repeat padding-box;
     /* background-color:#fcfff8 !important; */
     border-radius: 6px !important;
     border: 1px solid #d0d4df !important;
     padding: 6px 20px 7px !important;
     color: black !important;
 }
.standard{
    
          margin-left: 626px;
          position: relative;
          right: 408px;
          color: black;
          font-size: 18px;
          margin-top: 11px;
          font-family: "Times New Roman", Times, serif;
}
.icon {
     margin-left: 23px;
 }
 .untitle{
     font-size: 20px;
     color: black;
     margin-top: 11px;
     font-family: "Times New Roman", Times, serif;
 }
.line {
    position: absolute;
    top: 26px;
    /* right: 85px; */
    left: 38px;
    color: darkgrey;
}
.inputBorder{
    border: 2px solid white !important;
    border-bottom-color: rgb(169, 167, 167) !important;
}