.formulaCard {
  font-size: 13px;
  background-color: #fffadf;
  border: 1px solid #ece8d4;
  padding: 15px 15px;
}

.formulaMainContent {
  font-size: 13px;
  background-color: #fffadf;
  border: 1px solid #ece8d4;
}