.untitlee {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.preview {
  margin-top: -7px;
  color: blue;
}
.boder {
  border: 2px solid darkgrey;
  padding: 10px;
  border-style: dotted;
}
.grey {
  color: darkgrey;
}
.image {
  margin-right: 74px;
}
.p-avatar.p-avatar-xl {
     width: 4rem;
     height: 4rem;
     font-size: 2rem;
     margin-left: -73px !important;
 }
 .card{
          background-color: white;
    width: 430px;
    height: 23px;
    border-radius: -7px;
    display: inline-table;
    padding: 11px;
    border: 2px solid #f6f5f5;
      
 }
 .boder-Style:hover{
     border: 2px solid darkgrey;
     
     
     /* padding-top: 53px; */
     border-style: dotted;
 }
 .names{
     
          display: flex;
          justify-content: space-between;
      
 }
 .informationName{
     display: flex;
     margin-left: 39px;
 }
 .informationName:hover{
     background: white;
     width: 156px;
     padding: 6px;}
     .ellips{
          
          position: fixed;
          left: 330px;
          top: 199px;
          background: #cfcfcf;
           
     }
     .dropdownBorderStyle{
          background: #fffbe8;
          width: 312px;
          padding: 15px;
          border: 1px solid #d9caab;
          height: 60px;
          top: 0px;
          border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 1px #d9caab;
          position: fixed;
      }
