:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  /* font-family: "Inter", sans-serif; */
  font-family: "LatoRegular", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.9fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1.2fr 0.2fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

nav {
  background: #ffffff;
  grid-area: nav;
  padding-top: var(--main-padding);
}

main {
  background: #f5f5f5;
  grid-area: main;
  padding-top: var(--main-padding);
  /* padding-left: 23px; */
}

#sidebar {
  background: #3b3f42;
  min-height: 100%;
  /* height: 100%; */
  grid-area: sidebar;
  padding-top: var(--main-padding);
}

footer {
  background: #ffffff;
  grid-area: footer;
  padding-top: var(--main-padding);
  height: 5vh;
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
